.AppHeader {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  border: 1px solid black;
  height: 140px;
  text-decoration: none;
  color: white;
  background-color: maroon;
  font-size: 35px;
}

.ListsContainer {
  display: flex;
  
}

.AppNav {
  border: 1px solid black;
  width: 35%;
  
  
}

.AppMain {
  border: 1px solid black;
  width: 65%;
}